.dayview li {
  list-style-type: none;
  background-color: lightyellow;
}

.dayview .appointment {
  border: 2px solid grey;
  width: 60%;
  margin-bottom: 20px;
}

.dayview .time,
.dayview .client {
  height: 30px;
  padding: 10px;
}

.dayview .time {
  float: right;
  background-color: aquamarine;
  font-size: 1.1rem;
}

.dayview .dayAsNumber {
  float: right;
  /* background-color: yellow; */
  font-weight: bold;
  font-size: 1.1rem;
}

.dayAsNumber {
  margin-top: 10px;
  margin-right: 10px;
}

.dayview .client {
  font-weight: bold;
  background-color: deepskyblue;
  font-size: 1.1rem;
}

.dayview .dentist,
.dayview .assistant {
  padding: 10px;
}
