.calendarview .header,
.calendarview .table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.calendarview .header {
  background-color: aquamarine;
  font-weight: bold;
  font-size: 1.3rem;
}

.calendarview .header div {
  padding: 0.5rem;
}

.calendarview {
  padding: 0.5rem;
  font-size: 1.1rem;
}

.calendarview  {
  margin-bottom: 0.5rem;
  border: 1px solid lightblue;
  padding: 0.5rem;
  background-color: lightyellow;
  /* background-color: red; */
}

.day {
  margin-bottom: 0.5rem;
  border: 1px solid lightblue;
  padding: 0.5rem;
  /* background-color: lightyellow; */
  /* background-color: red; */
}

.appointmentInMonth {
  display: flex;
  flex-direction: column;
  /* padding: 0.1rem; */
  
}

.dayAsNumber {
  font-weight: 700;
}

.calendarview  {
  margin-left: 0.5rem;
}



.calendarview .time {
  margin-left: 0.5rem;
  color: black;  /* yellowgreen;*/
}

.time {
  font-weight: bold;
}


.backgroundColor {
  background-color: red;
}

.colorLegenda {
  list-style: none;
  padding-left: 1rem;
  font-size: 1.4rem;
  width: 15rem;
  font-weight: 500;
  
}

.orange{
  background-color: orange;
  padding: 0.2rem;
}

.purple{
  background-color: purple;
  padding: 0.2rem;
}

.red{
  background-color: red;
  padding: 0.2rem;
}
